
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
 <h2 class="page-header" style="color:#F5F5F5"></h2>
        <h1 class="text-muted" >SE Task</h1>
<style>
  
   body{
     background-image: url("images.jpeg");
     background-color:#2c3e50;
   }
</style>

